@import '../variables';

.main-center{
    width: calc(100vw - 250px);
    min-height: calc(max(100vh, 700px));
    background-color: #ecf2f9;
    padding: 50px;
    margin-left: 250px;
    position: relative;
    &-header{
        height: 100px;
        padding: 1% 50px;
        background-color: $optional;
        position: fixed;
        width: calc(100vw - 250px);
        top: 0;
        left: 250px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &-content{
            width: 200px;
            img{
                height: 60px;
                width: 60px;
                border-radius: 5px;
            }
            p{
                color: $primaryColor;
            }
        }
        h3{
            color: $white;
        }
    }
    .performance-container{
        margin-top: 2.5%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 10px;
        .performance{
            width: 100%;
            padding: 5%;
            border-radius: 10px;
            height: calc(max(120px, 100px));
            display: flex;
            justify-content: space-around;
            align-items: center;
            h5{
                color: $title;
            }
            &:nth-child(1){
                background-color: $white;
            }
            &:nth-child(2){
                background-color: $secondaryColor;
            }
            &:nth-child(3){
                background-color: $pending;
            }
            &:nth-child(4){
                background-color: #0099cc;
            }
            h3{
                color: $primaryColor;
            }
        }
    }
    .title-container-1{
        margin-top: 100px;
        h6{
            color: $title;
        }
    }
    .title-container-2{
        margin-top: 50px;
        h6{
            color: $title;
        }
    }
    .latest-posts{
        margin-top: 2.5%;
        display: grid;
        grid-template-columns: 1fr 1fr 2fr;
        gap: 15px;
        .daily-post{
            max-height: 300px;
            background-color: $white;
            border-radius: 10px;
            cursor: pointer;
            transition: 0.3s;
            &:hover{
                background-color: $primaryColor;
                color: $white;
                .post-content{
                    h6{
                        color: $white;
                    }
                    p{
                        color: $white;
                    }
                }
            }
            img{
                width: 100%;
                border-radius: 10px;
            }
            .post-content{
                padding: 5% 5% 10% 5%;
                h6{
                    margin-top: 10px;
                    color: $title;
                }
                p{
                    margin-top: 10px;
                    color: $text;
                }
            }
        }
        .daily-checklist{
            padding: 2.5% 5%;
            background-color: $white;
            border-radius: 10px;
            overflow-y: scroll;
            max-height: 280px;
            scrollbar-color: $primaryColor $white;
            scrollbar-width: thin;
            ul{
                li{
                    margin-top: 10px;
                    padding: 5%;
                    background-color: $white;
                    display: flex;
                    align-items: flex-start;
                    justify-content: space-between;
                    cursor: pointer;
                    border-radius: 10px;
                    transition: 0.3s;
                    &:hover{
                        box-shadow: 5px 5px 5px rgba($color: $primaryColor, $alpha: 0.1);
                    }
                    img{
                        height: 60px;
                        width: 60px;
                        object-fit: cover;
                        border-radius: 5px;
                    }
                    h6{
                        color: $title;
                    }
                    p{
                        margin-top: 5px;
                        color: $text;
                    }
                }
            }
        }
    }
}