@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scrollbar-color: #c7265b #ddd;
  scrollbar-width: thin;
}

body {
  overflow-x: hidden;
  font-family: 'Ubuntu', sans-serif;
  line-height: 1;
}

h1 {
  font-size: calc(18px + 2vw);
  font-weight: 900;
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 24px;
  }
}

h2 {
  font-size: calc(14px + 2vw);
  font-weight: 700;
}

@media screen and (max-width: 600px) {
  h2 {
    font-size: 20px;
  }
}

h3 {
  font-size: calc(10px + 2vw);
  font-weight: 600;
}

@media screen and (max-width: 600px) {
  h3 {
    font-size: 18px;
  }
}

h5 {
  font-size: calc(10px + 1vw);
  font-weight: 500;
}

@media screen and (max-width: 600px) {
  h5 {
    font-size: 18px;
  }
}

h6 {
  font-size: calc(10px + 0.5vw);
  font-weight: 700;
}

@media screen and (max-width: 600px) {
  h6 {
    font-size: 16px;
  }
}

p {
  font-size: calc(10px + 0.5vw);
  font-weight: 300;
  line-height: 1.2;
}

@media screen and (max-width: 600px) {
  p {
    font-size: 16px;
  }
}

a {
  text-decoration: none;
}

input, textarea, select {
  width: 100%;
  outline: 0;
  border: 0;
  padding: 10px 16px;
  font-size: calc(10px + 0.5vw);
  border-radius: 5px;
  color: #888;
  background-color: #fff;
  font-family: 'Ubuntu', sans-serif;
}

@media screen and (max-width: 600px) {
  input, textarea, select {
    font-size: 16px;
  }
}

ul li {
  list-style-type: none;
}

.active {
  color: #444;
}

.user-active {
  border: 3px solid #00cc66;
}

.post-active {
  background-color: #c7265b;
  color: #fff;
}

.px-10 {
  padding: 0 10px;
}

.pxy-15 {
  padding: 15px;
}

.ml-1 {
  margin-left: 10px;
}

.flex-around {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

button {
  font-family: 'Ubuntu', sans-serif;
  outline: 0;
  border: 0;
}

.btn {
  outline: 0;
  border: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 30px;
  margin: 10px 0;
  font-size: 16px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  display: inline-block;
}

.btn-primary {
  background-color: #005ce6;
  color: #fff;
}

.btn-danger {
  background-color: #ff3333;
  color: #fff;
}

.btn-submit {
  background-color: #00b359;
  color: #fff;
}

.btn-pending {
  background-color: #ffbb33;
  color: #fff;
}

.done {
  color: #00cc66;
}

.pending {
  color: #ffe6b3;
}

.canceled {
  color: #ff6666;
}

.section-container {
  margin-top: 100px;
  background-color: #fff;
  padding: 30px;
  border-radius: 15px;
}

.main-center {
  width: calc(100vw - 250px);
  min-height: calc(max(100vh, 700px));
  background-color: #ecf2f9;
  padding: 50px;
  margin-left: 250px;
  position: relative;
}

.main-center-header {
  height: 100px;
  padding: 1% 50px;
  background-color: #0099cc;
  position: fixed;
  width: calc(100vw - 250px);
  top: 0;
  left: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-center-header-content {
  width: 200px;
  position: relative;
}

.main-center-header-content img {
  height: 60px;
  width: 60px;
  border-radius: 5px;
  cursor: pointer;
}

.main-center-header-content p {
  color: #fff;
  font-weight: 500;
}

.main-center-header-content .profile-container {
  display: none;
  position: absolute;
  width: 200px;
  padding: 2.5%;
  background-color: #fff;
  top: 100%;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  -webkit-animation: opacity 0.3s;
          animation: opacity 0.3s;
}

.main-center-header-content .profile-container ul li {
  padding: 15px;
  text-align: center;
}

.main-center-header-content .profile-container ul li a {
  color: #888;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.main-center-header-content .profile-container ul li a:hover {
  color: #444;
}

.main-center-header h3 {
  color: #fff;
}

.main-center .listings-container table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
}

.main-center .listings-container table td, .main-center .listings-container table th {
  text-align: left;
  padding: 15px;
}

.main-center .listings-container table td {
  color: #888;
}

.main-center .listings-container table th {
  color: #c7265b;
}

.main-center .listings-container table .done {
  color: #00cc66;
}

.main-center .listings-container table .pending {
  color: #f8d23a;
}

.main-center .listings-container table .canceled {
  color: #ff6666;
}

.main-center .title-container-1 h6 {
  color: #444;
}

.main-center .title-container-2 {
  margin-top: 50px;
}

.main-center .title-container-2 h6 {
  color: #444;
}

.aside-left {
  width: 250px;
  height: 100vh;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: scroll;
  scrollbar-color: #c7265b #fff;
  scrollbar-width: thin;
}

.aside-left .logo-container {
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.aside-left .logo-container img {
  height: 90px;
}

.aside-left .title-container {
  margin-top: 5%;
  padding-left: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.aside-left .title-container h6 {
  color: #0099cc;
}

.aside-left .menu-list {
  padding: 2.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.aside-left .menu-list ul {
  padding: 5% 2.5% 10% 2.5%;
  border-bottom: 1px solid #ddd;
}

.aside-left .menu-list ul li {
  padding: 16px 32px;
  margin-top: 10px;
  border-radius: 8px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.aside-left .menu-list ul li:hover a {
  color: #444;
}

.aside-left .menu-list ul li a {
  color: #888;
  font-weight: 500;
}

.aside-left .menu-list ul li a i {
  padding-right: 10px;
}

.aside-left .menu-list ul button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  outline: 0;
  border: 0;
  padding: 10px 32px;
  color: #888;
  font-size: calc(8px + 0.5vw);
  font-weight: 500;
  cursor: pointer;
  display: block;
  background-color: #fff;
  margin-top: 10px;
}

.aside-left .menu-list ul .append {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 32px;
  margin-left: 10px;
  display: none;
  -webkit-animation: 0.2s opacity;
          animation: 0.2s opacity;
  margin-top: 0;
  font-size: calc(8px + 0.5vw);
}

.aside-left .post-list {
  padding: 2.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.aside-left .post-list ul {
  padding: 5% 2.5% 10% 2.5%;
  border-bottom: 1px solid #ddd;
}

.aside-left .post-list ul li {
  width: 100%;
  padding: 16px 32px;
  margin-top: 10px;
  border-radius: 8px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.aside-left .post-list ul li:hover a {
  color: #444;
}

.aside-left .post-list ul li a {
  color: #888;
  font-weight: 500;
  position: relative;
}

.aside-left .post-list ul li a i {
  padding-right: 10px;
}

.aside-left .post-list ul li a .notified {
  background-color: #ffe6b3;
  color: #444;
  position: absolute;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: -15px;
  right: -20px;
  font-size: 12px;
  font-weight: 500;
}

.aside-left .log-out {
  position: relative;
  height: 120px;
  width: 100%;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.aside-left .log-out button {
  background-color: #fff;
  color: #444;
  width: 60px;
  height: 60px;
  font-size: 24px;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 5px rgba(199, 38, 91, 0.1);
          box-shadow: 5px 5px 5px rgba(199, 38, 91, 0.1);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

@-webkit-keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.main-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 300px 900px;
      grid-template-columns: 300px 900px;
}

@media screen and (max-width: 600px) {
  .main-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}
/*# sourceMappingURL=listings.css.map */