@import '../base';
@import './listings-center';
@import './listings-left';

.main-container{
    display: grid;
    grid-template-columns: 300px 900px;
    @media screen and (max-width: 600px) {
        grid-template-columns: 1fr;
    }
}