@import '../variables';

.main-center{
    width: calc(100vw - 250px);
    min-height: calc(max(100vh, 700px));
    background-color: #ecf2f9;
    padding: 50px;
    margin-left: 250px;
    position: relative;
    &-header{
        height: 100px;
        padding: 1% 50px;
        background-color: $optional;
        position: fixed;
        width: calc(100vw - 250px);
        top: 0;
        left: 250px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &-content{
            width: 200px;
            position: relative;
            img{
                height: 60px;
                width: 60px;
                border-radius: 5px;
                cursor: pointer;
            }
            p{
                color: $white;
                font-weight: 500;
            }
            .profile-container{
                display: none;
                position: absolute;
                width: 200px;
                padding: 2.5%;
                background-color: $white;
                top: 100%;
                border-radius: 10px;
                box-shadow: 5px 5px 5px rgba(0,0,0,0.1);
                animation: opacity 0.3s;
                ul{
                    li{
                        padding: 15px;
                        text-align: center;
                        a{
                            color: $text;
                            transition: 0.3s;
                            &:hover{
                                color: $title;
                            }
                        }
                    }
                }
            }
        }
        h3{
            color: $white;
        }
    }
    &-body{
        margin-top: 10px;
        padding: 2.5% 0;
        form{
            display: grid;
            grid-template-columns: 1fr 1fr;
            width: 100%;
            @media screen and (max-width:600px) {
                width: 100%;
                grid-template-columns: 1fr;
            }
            .input-container{
                margin-top: 10px;
                label{
                    display: block;
                    color: $title;
                    padding: 10px 0;
                }
                input{
                    width: 100%;
                    background-color: $border;
                }
                textarea{
                    height: 200px;
                    background-color: $border;
                }
                select, option{
                    background-color: $border;
                }
            }
            .input-container-checkbox{
                input{
                    width: 20px;
                    height: 20px;
                    border: 0;
                    outline: 0;
                    background-color: $border;
                }
            }
        }
    }
}