$primaryColor: #c7265b;
$secondaryColor: #f7d4df;
$optional: #c0e7f1;
$title: #444;
$text: #888;
$white: #fff;
$yellow: #f8d23a;
$active: #00cc66;
$error: #ff6666;
$pending: #ffe6b3;
$background: #eee;
$border: #ddd;

