@import './base';
@import '../styles/index/aside_left';
@import '../styles/index/main_center';
@import '../styles/index/aside_right';

.main-container{
    min-height: calc(max(100vh, 700px));
    display: grid;
    grid-template-columns: 20% 1fr 20%;
    @media screen and (max-width: 600px) {
        height: auto;
        grid-template-columns: 1fr;
    }
}