@import './base';
@import '../styles/index/aside_left';
@import '../styles/index/main_center';

.main-container{
    display: grid;
    grid-template-columns: 300px 900px;
    @media screen and (max-width: 600px) {
        grid-template-columns: 1fr;
    }
}